#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem 2rem;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: start;

  .header {
    align-self: center;

    h1 {
      margin: 0em;
      margin-bottom: 0.2em;
      font-weight: 300;
    }

    h5 {
      margin: 0;
      color: #888;
      font-family: monospace;
      font-variant: small-caps;
      /* Converts text to lowercase */
    }

    .logo {
      height: 6em;
      border-radius: 30%;
      padding: 1em 0em 0em 0em;
      will-change: filter;
      transition: filter 300ms;
    }

    .logo:hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }

    .logo.react:hover {
      filter: drop-shadow(0 0 2em #61dafbaa);
    }

    @keyframes logo-spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    .header__social-links {
      display: flex;
      justify-content: center;
      gap: 1em;

      a {
        color: #888;
        text-decoration: none;
      }

      a:hover {
        filter: brightness(0.5);
        transition: filter 300ms;
      }
    }
  }

  .section {
    text-align: justify;
    font-weight: 100;

    .section__header {
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
